body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

.mainContainer {
    display: flex;
    gap: 1rem;
    width: fit-content;
    margin: auto;
    margin-top: 5vh;
}

.contentContainer {
    width: 350px;
    height: 90vh;
    border-radius: 15px;
    background-image: url('https://picsum.photos/200/300');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* content */
.content {
    margin: 1rem;
    height: calc(100% - 2rem);
    display: grid;
    grid-template-rows: 10% 80% 10%;
}

.topBar {
    display: flex;
    justify-content: space-between;
}

.bottomBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottomBar > div {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.title {
    display: flex;
    align-items: flex-end;
    margin-bottom: 0;
}

.title, .youtuber, .text {
    color: white;
}

.youtuber, .bottomBar button {
    font-weight: 550;
}

.bottomBar .logo {
    background-color: red;
    height: 60%;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.bottomBar button {
    background-color: white;
    border-radius: 20px;
    border: none;
    padding: 10px;
}

/* side bar */
.sideBarContainer {
    display: flex;
    align-items: flex-end;
}

.sideBar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iconPlusText, .more {
    margin-bottom: 1rem;
    text-align: center;
}

.iconPlusText .icon {
    margin-bottom: 0.3rem;
}

.icon {
    background-color: rgb(42, 42, 42);
    border-radius: 50%;
    padding: 12px;
    display: flex;
    justify-content: center;
}

.sideBar .logo {
    background-color: red;
    width: 90%;
    height: 45px;
    border-radius: 10px;
}