body {
    font-family: Arial, Helvetica, sans-serif;
}

.shortContainer {
    width: 350px;
    height: 90vh;
    margin: auto;
    margin-top: 5vh;
    background-image: url('https://picsum.photos/200/300');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-rows: 8% 1fr 1fr 10% 7%;
}

.subscriptionsBtn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: fit-content;
    width: fit-content;
    border-radius: 20px;
    border: none;
    margin-top: 1rem;
    margin-left: 0.5rem;
    padding: 6px;
    padding-inline: 12px;
    color: white;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.3);
}

.iconPlusText {
    display: flex;
    flex-direction: column;
}

.iconPlusText span {
    color: white;
}

/* topBar */
.topBar {
    display: flex;
    justify-content: space-between;
    margin-inline: 0.5rem;
}

.topBarLeft, .topBarRight {
    display: flex;
    align-items: center;
}

.topBarLeft span {
    color: white;
    font-weight: 900;
    margin-left: 1.5rem;
}

.topBarRight .bi-search {
    margin-right: 1.5rem;
}

/* rightBar */
.rightBarContainer {
    display: flex;
    justify-content: end;
    align-items: end;
}

.rightBar {
    margin-right: 0.5rem;
}

.rightBar .iconPlusText {
    margin-bottom: 0.7rem;
    align-items: center;
}

.rightBar .iconPlusText span {
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

/* bottomBar */
.bottomBar {
    display: flex;
    align-items: center;
    margin-bottom: 0.7rem;
}

.bottomBar .logo, .bottomBar button, .bottomBar span {
    margin-left: 0.5rem;
}

.bottomBar .logo {
    background-color: blue;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.bottomBar button {
    background-color: red;
    color: white;
    border: none;
    height: 60%;
    border-radius: 5px;
}

.bottomBar span {
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
}

/* navbar */
.navbar {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    background-color: black;
}

.navbar div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .iconPlusText span {
    font-size: 0.6rem;
}